.toggle-div {
  display: flex;
  justify-content: space-around;
  background:rgba(0,0,0,0.2);
  width: 30rem;
  margin: 1rem auto;
  margin-bottom: 0;
  height: 2rem;
}

.seven-hour-toggle,
.ten-day-toggle,
.seven-hour-toggle-selected,
.ten-day-toggle-selected {
  margin: auto;
}

.seven-hour-toggle-selected,
.ten-day-toggle-selected {
  font-weight: 800;
  color: #FFF;
}

.ten-day-toggle,
.seven-hour-toggle {
  font-weight: 300;
  color: #C9C9C9;
}

.seven-hour-toggle:hover,
.ten-day-toggle:hover {
  cursor: pointer;
  /*text-shadow: 0 0 .65px #FFF, 0 0 .65px #FFF;*/
  color: #FFF;
}
