.daily-weather {
  margin: 0 1rem;
  color: #FFF;
  text-align: center;
  height: 204px;
}

.daily-forecast-img {
  width: 60px;
}

.daily-temps {
  font-size: 1rem;
}

@media (max-width: 750px) {
  .daily-weather {
    height: 180px;
  }
}