@import url('https://fonts.googleapis.com/css?family=Open+Sans:300,800');

.current {
	display: flex;
	justify-content: space-between;
	width: 83%;
  max-width: 40rem;
	margin: auto;
  font-family: 'Open Sans', sans-serif;
  color: #C9C9C9;
  background:rgba(0,0,0,0.5);
}

article {
  margin-right: 2rem;
  display: grid;
  align-items: center;
}

.weather-img-aside {
  padding-top: 2rem;
  margin-left: 2rem;
}

.weather-img {
  width: 300px;
}

.temperature {
  font-size: 8rem;
  margin: 0;
  color: #FFF;
  font-weight: 300;
}

.wind,
.humidity,
.visibility {
  font-size: 1.5rem;
  font-weight: 300;
}

.weather-label,
.weather-description {
  color: #FFF;
  font-size: 1.5rem;
  font-weight: 800;
}

.weather-description {
  font-size: 1.8rem;
  text-align: center;
  font-weight: 300;
  padding-bottom: 1rem;
}

.wind {
  margin-top: 0;
}

.visibility {
  padding-bottom: 1rem;
}

@media (max-width: 740px) {
  .current,
  .weather-img {
    display: block;
  }

  .current {
    margin-top: 2rem;
    margin-bottom: 2rem;
  }

  .weather-img,
  .weather-img-aside {
    margin: auto;
  }

  article {
    margin: 0;
  }

  .temperature,
  .wind,
  .humidity,
  .visibility {
    text-align: center;
  }

  .weather-description {
    margin-bottom: 0;
  }
}
