.seven-hour {
  display: flex;
  background:rgba(0,0,0,0.2);
  justify-content: space-between;
  margin: auto;
  font-size: 1rem;
  max-width: 50rem;
  height: 11rem;
}

@media (max-width: 820px) {
  .seven-hour {
    
  }
}