.App {
  height: 100vh;
  display: grid;
}

.logo-section {
  width: 30rem;
  margin: 3rem auto;
  display: flex;
  align-self: end;
}

.logo-img {
  width: 15rem;
  height: 10rem;
}

.logo-label {
  color: #FFF;
  height: 10rem;
  padding-top: 1.5rem;
  font-size: 2.5rem;
}

.search-section {
  display:flex;
  margin-bottom: 1rem;
  height: 42px;
}

.main-input{
  grid-row: 1;
  border-style: none;
  background: rgba(0,0,0,0.2);
  font-size: 1rem;
  max-width: 1000px;
  min-width: 40rem;
  height: 40px;
  color: #fff;
}

.main-input::list {
  background: rgba(0,0,0,0.2);
  color: #FFF;
}

.main-input::placeholder{
  color: grey;
  padding-left: 8px;
}

.main-magnifier{
  grid-row: 2;
  width: 20px;
  padding-top: .5rem;
}

.main-magnifier-div{
  padding: 0 8px;
  margin: auto;
  width: 30px;
  display: grid;
  align-items: center;
  justify-content: center;
  margin-left: 1rem;
  background:rgba(0,0,0,0.2);
  height: 40px;
  display: inline-block;
}

.main-magnifier-div:hover {
  cursor: pointer;
}
